<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Article List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" style="font-size: 12px">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image URL</th>
        <th>News Site</th>
        <th>Summary</th>
        <th>URL</th>
        <th>Published</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles | paginate: { itemsPerPage: count, currentPage: p }">
        <td style="font-size: 8px">{{article.id}}</td>
        <td>{{article.title}}</td>
        <td><a href="{{article.imageUrl}}"><img src="{{article.imageUrl}}" alt="">image</a></td>
        <td>{{article.newsSite}}</td>
        <td style="word-break: break-word">{{article.summary}}</td>
        <td><a href="{{article.url}}">URL</a></td>
        <td>{{article.published}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
