<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Blog List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" style="font-size: 12px">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image URL</th>
        <th>News Site</th>
        <th>Summary</th>
        <th>URL</th>
        <th>Published</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let blog of blogs | async">
        <td style="font-size: 8px">{{blog.id}}</td>
        <td>{{blog.title}}</td>
        <td><a href="{{blog.imageUrl}}"><img src="{{blog.imageUrl}}" alt="">image</a></td>
        <td>{{blog.newsSite}}</td>
        <td style="word-break: break-word">{{blog.summary}}</td>
        <td><a href="{{blog.url}}">URL</a></td>
        <td>{{blog.published}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
