<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Blog List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" style="font-size: 12px">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>body</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let blog of blogs | async">
        <td style="font-size: 8px">{{blog.id}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.body}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
